<div class="container">
	<div class="wp-50 wm-100 pt-4 pl-3">
		<h2 style="; text-align: left">Edit vehicle information</h2>
		<br>
		<%= render 'form', truck: @truck %>
		<%= link_to 'Show', @truck %> |
		<%= link_to 'Back', trucks_path %>

	</div>
</div>