<!-- Masthead-->
<div class="masthead" id="masthead">
  <div class="position-relative h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-xl-6 mx-auto">
        <div class="text-center text-white container">
          <!-- Page heading-->
          <h1 class="mb-5">Track your shipment on the GO!</h1>
          <form method="get" id="track_form">
            <div class="input-group input-group-lg">
              <input class="form-control" type="text" placeholder="Enter tracking number..." name="number" style="padding: 2rem 1.25rem;" required id="tracking_number">
              <button type="submit" class="btn btn-primary btn-lg" id="track_button">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="tracking_confirmation_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: grid; grid-template-columns: 100%; " >
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 style="width: 10%; margin:  auto; display: grid; grid-template-columns: 100%;">
          <span id="checkmark" > </span>
        </h4>
        <h4 class="modal-title text-center"> Your shipment is on the way</h4>

        
      </div>
      <div class="modal-body card border-success ">
        <p id="modal_body_content"> </p>
        <p id="container_number"> </p>
        <p id="bill_of_lading_number"> </p>
        <p id="commodity"> </p>
        <p id="eta_site"> </p>
        <p id="offloaded"> </p>
        <p id="remark"> </p>
      </div>
      <br>
      <!-- <br> -->

      <div class="modal- col-md-12 text-center">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
      <br>
      <!-- <br> -->
    </div>

  </div>
</div>


<!-- =================== -->


<div id="tracking_denial_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="display: grid; grid-template-columns: 100%; " >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        <h4 style="width: 10%; margin:  auto; display: grid; grid-template-columns: 100%;">
          <span id="denial_checkmark"> </span>

        </h4>
        <h4 class="modal-title text-center"> Information missing </h4>

        
      </div>
      <div class="modal-body card border-danger text-center ">
        <p>Please check number and try again</p>
      </div>
      <br>
      <!-- <br> -->

      <div class="modal- col-md-12 text-center">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      <br>
      <!-- <br> -->
    </div>

  </div>
</div>



<script type="text/javascript">
  var track_button = $("#track_button");
  track_button.click(function(e){
    e.preventDefault();


    var tracking_number = $("#tracking_number").val();
    $("#checkmark").html('<img style="width: 100%; height:100%; margin: auto" src="https://img.icons8.com/flat-round/64/000000/checkmark.png"/>')
    $("#container_number").html("");
    $("#bill_of_lading_number").html("");
    $("#commodity").html("");
    $("#eta_site").html("");
    $("#offloaded").html("");
    $("#remark").html("");

    var url = '/tracking?number='+tracking_number;
    $.ajax({
      url:  url,
      type: 'get',
      success: function(data){
       if(data["number"]){

        console.log(new Date(data["eta_dar"]))

        var offloaded;

        if(data["offloaded"] === false) {
          var offloaded = "No";
        }

        else {
          // console.log("Loaded")
          var offloaded = "Yes";
        }
        $('#tracking_confirmation_modal').modal('toggle');
        $("#container_number").html("Container n<sup>o</sup>: " + data["number"]);
        $("#bill_of_lading_number").html("BOL: " + data["bill_of_ladding_number"]);
        $("#commodity").html("Commodity: " + data["commodity"]);
        $("#eta_site").html("ETA Site: " + 
          new Date(data["eta_site"]).toDateString());
        $("#offloaded").html("Offloaded: " + offloaded);
        $("#remark").html("Remarks: " + data["remark"]);

      } 

      else 
      {
        $('#tracking_denial_modal').modal('toggle');

        $("#denial_checkmark").html('<img style="width: 100%; height:100%; color: red; margin: auto;" src="https://img.icons8.com/glyph-neue/64/fa314a/error.png"/>');
      }
    }
  })
  })
</script>