<!-- Masthead-->
<div class="masthead" id="masthead" style=" no-repeat center !important;">
  <div class="position-relative h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-xl-6 mx-auto">
        <div class="text-center text-white container">
          <!-- Page heading-->
          <h1 class="mb-5">Track your shipment on the GO!</h1>
          <form method="get">
            <div class="input-group input-group-lg">
              <input class="form-control" type="text" placeholder="Enter tracking number..." name="number" style="  padding: 2rem 1.25rem;">
              <button class="btn btn-primary" id="button-submit" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Feedback on tracking -->
    <div class="row justify-content-center" style="margin-top: 2rem">
      <% if params[:number] -%>
      <div class="col-xl-6">
        <% if @container -%>
        <div class="alert alert-success" role="alert">
          <%= @container.number -%>
        </div>


        <% else -%>
        <div class="alert alert-danger" role="alert">
          No record of this tracking number can be found at this time, please check the number and try again later. For further assistance, please contact Customer Service
        </div>
        <% end -%>

      </div>

      <% end -%>
    </div>
    <!-- end, feedback on tracking -->
  </div>
</div>

